@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Google Sans'), local('Product Sans'),
    url('../../public/fonts/ProductSans-Light.woff2') format('woff2');
  font-display: swap;
}

/* Google Sans - latin */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Google Sans'), local('Product Sans'),
    url('../../public/fonts/ProductSans-Regular.woff2') format('woff2');
  font-display: swap;
}

/* Google Sans - latin */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Google Sans'), local('Product Sans'),
    url('../../public/fonts/ProductSans-Medium.woff2') format('woff2');
  font-display: swap;
}

/* Google Sans - latin */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Google Sans'), local('Product Sans'),
    url('../../public/fonts/ProductSans-Bold.woff2') format('woff2');
  font-display: swap;
}
