@import './reset';
@import './themes';
@import './fonts';

html {
  height: 100%;
}

body {
  display: flex;
  align-items: stretch;

  min-height: 100%;

  background-color: hsl(233, 31%, 5%);
}

#app {
  flex: 1 1 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

* {
  cursor: url('/cursors/tap.png'), auto;
}

h1,
h2,
h3,
h4 {
  font-family: var(--app-font-family-prominent);
  font-variant-numeric: tabular-nums;

  margin: 0;
}
